<!-- Importing Header -->
<%- include partials/header.ejs %>

<!-- Importing NavBar -->
<%- include partials/main_nav.ejs %>

    <!-- Main Content -->
    <main class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-10">
                <h1> <%= title %> </h1>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr class="d-flex">
                        <th class="tex-center">Name</th>
                        <th class="tex-center">Phone Number</th>
                        <th class="tex-center">Email</th>
                    </tr>

                    <!-- Repeatable Template Row -->
                    <% for(let count = 0; count < ContactsList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-cemter"><%= ContactsList[count].name %> </td>
                            <td class="text-cemter"><%= ContactsList[count].phoneNumber %> </td>
                            <td class="text-cemter"><%= ContactsList[count].email %> </td>
                        </tr>
                    <% } %> 
                </table>
            </div>
        </div>
    </main>


<!-- Importing Scripts -->
<%- include partials/footer.ejs %>